/*HOME*/

#hp-bt { top: 15rem; color: #fff; }
@media only screen and (min-width: 1441px) { #hp-bt { top: 6rem; }
}

#homepage-h1 { font-weight: 800; letter-spacing: 3px; margin-bottom: 2rem; }
#homepage-h2-1 { font-size: 60px; line-height: 120px; font-weight: 400; }
#homepage-h2-2 { font-size: 96px; line-height: 120px; font-weight: 900; }
.want-to-buy { 
    background: rgb(0, 0, 0);  background: rgba(0, 0, 0, 0.5); 
    width: 710px; 
    display: flex; flex-direction: column; 
    margin: 0 auto; margin-top: 1rem; 
    padding-bottom: 1rem;
    justify-content: center; align-items: center; 
}
#want-to-buy-h3 { font-size: 56px; line-height: 112px; font-weight: 400; font-style: italic; }
.down-arrows { margin-top: 1rem; }
.down-arrows svg { height: 96px; width: auto; margin: 0 1rem;}

.table { 
    display: flex; flex-direction: column; 
    margin: 0 auto; padding: 3rem 0; 
    width: 100%; 
    justify-content: center; align-items: center; 
    background-color: #1B92CC;
}
.table h3 { font-size: 40px; line-height: 60px; color: #fff; font-weight: 400; }
.table p { font-size: 24px; line-height: 48px; color: #fff; }
table { 
    width: calc(100% - 8%); 
    font-size: 32px; line-height: 64px; 
    justify-content: space-between; 
    text-align: center;
    border-collapse: none; 
    border-spacing: 0; 
    margin-top: 1rem;
}
table tr:first-child { background-color: #DEDEDE; border-left: 20px }
table tr { background-color: #fff; }
table tr:first-child th:first-child { border-top-left-radius: 20px; }
table tr:first-child th:last-child { border-top-right-radius: 20px; }
table tr:last-child td:first-child { border-bottom-left-radius: 20px; }
table tr:last-child td:last-child { border-bottom-right-radius: 20px; }

.save { 
    display: flex; flex-direction: column; 
    margin: 0 auto; padding: 6rem 5%; justify-content: center; align-items: center; 
    width: 100%; 
    background-color: #f3f3f3;
}
.save h2 { margin-top: 3rem; }
#save-h2-1 { font-size: 60px; line-height: 120px; font-weight: 400; }
#save-h2-2 { margin-top: 3rem; font-size: 64px; line-height: 96px; }

.who { background-color: #D9071F; color: #fff; align-items: center; padding: 6.5rem 0; }
.who h2 { letter-spacing: 2px; }
.who-content { display: flex; align-items: center; margin: 0 10%; margin-top: 5rem; }
.who-description, .hero { display: flex; margin: 0 auto; justify-content: center; }
.who-description, .hero { width: 50%; }
.who-description p { font-size: 40px; line-height: 72px; text-align: left; }
.hero img { width: 200px; height: 200px; }

.mission { padding: 7rem 8%; background-color: #f3f3f3; }
.mission-body { display: flex; flex-direction: row; padding-top: 6rem; }
.mission-thirds { width: calc(100% / 3); display: flex; flex-direction: row; }
.mission-img { padding-right: 8px; }
.mission-img img { width: 64px; height: 64px; }
.mission-text { display: flex; flex-direction: column; }
.mission-text h3 { text-decoration: underline; }
.mission-text p { font-size: 48px; line-height: 72px; }

.advantage { padding: 0 8%; padding-top: 3rem; background-color: #f3f3f3; }
.advantage-header, .contact-header { 
    display: flex; flex-direction: row; 
    margin: 0 auto; align-items: center; justify-content: space-around; 
}
.ah-header h2 { font-size: 96px; line-height: 120px; }
.ah-img { padding-left: 5%; }
.ah-img img { width: 290px; height: 200px; }
.advantage-body { display: flex; flex-direction: column; margin-top: 7rem; }
.advantage-thirds { 
    display: flex; flex-direction: row; 
    justify-content: space-around; align-items: center; 
    margin-bottom: 5rem; 
}
.advantage-text { display: flex; flex-direction: column; }
.advantage-text h3, .process-text h3 { color: #CD071E; }
.advantage-text p { font-size: 32px; line-height: 64px; margin-top: 1rem; width: 70%; }
.ab-img { display: flex; margin: 0 auto; justify-content: center; align-items: center; }
.ab-img img { width: 128px; height: 128px; }
#chinese { width: 144px; height: 148px; }
#handshake { width: 188px; height: 130px; }

.process { padding: 7rem 0; background-color: #f3f3f3; }
.process-body { margin-top: 7rem; }
.process-row1 { display: flex; }
.process-row { display: flex; width: 50%; margin: 0 8%; margin-bottom: 4rem; }
.p-img { padding-right: 2rem; }
.p-img img { width: 72px; height: 72px; }
.process-text p { font-size: 32px; line-height: 64px; margin-top: 1rem; }
.wait { background-color: #D9071F; color: #fff; padding: 10rem 8%; }
.wait h2 { font-size: 96px; line-height: 120px; }

.contact { padding: 0 5%; padding-top: 6rem; padding-bottom: 3.5rem; background-color: #f3f3f3; }
.contact-header {  display: flex; flex-direction: row;  margin: 0 auto; align-items: center; justify-content: center; }
.ch-img { padding-left: 18px; }
.ch-img img { width: 96px; height: 96px; }
.contact-info { 
    display: flex; flex-flow: row wrap; 
    margin: 6rem auto 3rem auto; 
    justify-content: space-between;
}
.ci-1, .ci-2 { display: flex; flex-direction: row; align-items: center; justify-items: space-around; }
.ci-1 a, .ci-2 a { font-size: 36px; line-height: 64px; font-weight: 700; color: #000; }
.contact-info a:hover { color: #CD071E; transition: .3s ease; }
#phone, #email { width: 48px; height: 48px; margin-right: 3%; }
.s-media { margin-top: 2rem; display: flex; flex-direction: row; }
.s-media img { width: 48px; height: 48px; }
.s-media img:hover { transform: rotate(1turn); transition: 1s ease; }
.s-media a { padding-right: 20px; }
.contact-pitch { max-width: 50%; }
.contact-pitch { font-style: italic; font-weight: 600; }


@media only screen and (max-width: 1199px) {  
    #homepage-h2-1 { font-size: 48px; line-height: 96px; }
    #homepage-h2-2 { font-size: 72px; line-height: 96px; font-weight: 900; }
    .who-content { margin: 0 8%; margin-top: 5rem; } 
    .mission { padding: 7rem 3%; }
    .mission-text p { font-size: 40px; line-height: 64px; }
    .ah-header h2 { font-size: 80px; line-height: 104px; }
    .advantage-text h3 { width: 70%; }
    .process-row { margin: 0 3%; margin-bottom: 4rem; }
    .contact-info { flex-direction: column; }
    .contact-pitch { max-width: 100%; margin-top: 4rem; }
}

@media only screen and (orientation: landscape) and (max-width: 991px) { 
    #hp-bt { top: 10rem; } 
}

@media only screen and (max-width: 991px) {    
    #homepage-h2-1 { font-size: 40px; line-height: 96px; font-weight: 400; }
    #homepage-h2-2 { font-size: 64px; line-height: 96px; font-weight: 900; }
    table, .table p { font-size: 21px; line-height: 48px; }
    .save { padding: 6rem 5%; }
    .who-content { flex-direction: column; margin: 0 8%; margin-top: 5rem; }
    .who-description, .hero { width: 100%; }
    .hero { margin-top: 2rem; }
    .mission { padding: 7rem 10%; }
    .mission-thirds { width: 100%; display: flex; flex-direction: row; margin-bottom: 3rem; }
    .mission-body { flex-direction: column; }
    .mission-text p { font-size: 40px; line-height: 64px; }
    .advantage-header { display: flex; flex-direction: column; margin: 0 auto; align-items: center; justify-content: center; }
    .ah-header h2 { font-size: 80px; line-height: 104px; }
    .ah-img { margin-top: 2rem; }
    .advantage-text h3, .advantage-text p { width: 100%; }
    .advantage-thirds { display: flex; flex-direction: column; align-items: center; margin: 0 10%; margin-bottom: 5rem; }
    .ab-img { margin-top: 2rem; }
    #reverse { flex-direction: row-reverse; }
    #arrow { transform: rotate(.5turn); padding-right: 10px; }
    .process-row1 { display: flex; flex-direction: column; } 
    .process-row { display: flex; width: 90%; margin: 0 5%; margin-bottom: 4rem; }
    .contact-header { justify-content: space-around; margin: 0 10%; }
}

@media only screen and (max-width: 767px) { 
    #homepage-h2-1 { font-size: 32px; line-height: 72px; font-weight: 400; }
    #homepage-h2-2 { font-size: 56px; line-height: 72px; font-weight: 900; }
    #want-to-buy-h3 { font-size: 48px; line-height: 96px; }
    .want-to-buy { width: 80%; }
    table, table p { font-size: 21px; line-height: 48px; }
    #save-h2-1 { font-size: 48px; line-height: 96px; font-weight: 400; } 
    #save-h2-2 { margin-top: 3rem; font-size: 56px; line-height: 96px; }
    .mission { padding: 7rem 10%; }
    .mission-thirds { width: 100%; display: flex; flex-direction: row; margin-bottom: 3rem; }
    .mission-body { flex-direction: column; }
    .mission-text p { font-size: 40px; line-height: 64px; }
    .advantage-header { display: flex; flex-direction: column; margin: 0 auto; align-items: center; justify-content: center; padding: 0 2%; }
    .ah-header h2 { font-size: 72px; line-height: 96px; }
    .ah-img { margin-top: 2rem; }
    .advantage-text h3, .advantage-text p { width: 100%; }
    .advantage-thirds { display: flex; flex-direction: column; align-items: center; margin: 0 10%; margin-bottom: 5rem; }
    .ab-img { margin-top: 2rem; }
    #reverse { flex-direction: row-reverse; }
    #arrow { transform: rotate(.5turn); padding-right: 10px; }
    .process-row1 { display: flex; flex-direction: column; } 
    .process-row { display: flex; width: 90%; margin: 0 5%; margin-bottom: 4rem; }
    .wait h2 { font-size: 72px; line-height: 96px; }
    .contact { padding: 0 3%; padding-top: 6rem; padding-bottom: 3.5rem; }
    .contact-header { justify-content: space-around; margin: 0 10%; }
    .ch-img { padding-left: 0; padding-right: 20px; }
    .contact-body { flex-direction: column; margin: 0 15%; }
    .contact-info, .contact-form { width: 100%; }
}

@media only screen and (max-width: 576px) { #hpb-img { filter: blur(3px); }
    #hp-bt { top: 64px; background: rgb(0, 0, 0);  background: rgba(0, 0, 0, 0.5); padding: 0 3%; }
    #homepage-h1 { padding-top: 4rem; }
    #product-options { padding: .5rem; margin-left: 0; width: 95%; }
    .want-to-buy { background: none; height: auto; padding: 1rem 0; }
    #want-to-buy-h3 { font-size: 32px; line-height: 64px; margin-top: -1rem; }
    .table { padding: 3rem 5%; }
    .table h3:first-child { margin-bottom: 1rem; }
    table { width: 100%; font-size: 10px; }
    table td { padding: 0 10px; }
    .black { font-size: 16px; }
    .advantage-thirds { margin: 0 8%; margin-bottom: 5rem; }
    .ah-header h2 { font-size: 60px; line-height: 96px; }
    .ah-header { flex-direction: column; }
    .ah-img img { height: 120px; width: 174px; }
    .ah-img { padding-left: 0%; }
    #reverse { flex-direction: column-reverse; }
    #arrow { transform: rotate(.75turn); padding-right: 0px; }
    #factory, #arrow, #person, #chinese, #handshake, .ab-img img { width: 85%; height: 85%; }
    .process { margin: 0 5%;  }
    .process-row { width: 90%; margin-bottom: 4rem; }
    .p-img { padding-right: .5rem; }
    .p-img img { width: 48px; height: 48px; }
    .process-text { margin-top: -.7rem; }
    .wait { padding: 10rem 5%; }
    .contact-header { flex-direction: column; }
    .ch-img { padding-right: 0;}
    .contact-form label { margin-bottom: .5rem; font-size: 27px; line-height: 32px; }
    .ci-1 a, .ci-2 a { font-size: 24px; line-height: 48px; }
}


/*CONTACT*/

#cb-img2 { display: none; }

#c-bt { top: 20rem; }

@media only screen and (min-width: 1441px) {
     #c-bt { top: 13rem; }
}
@media only screen and (orientation: landscape) and (max-width: 991px) { 
    #c-bt { top: 17rem; }
}
@media only screen and (max-width: 576px) { #cb-img { display: none; }
    #cb-img2 { display: flex; }
    #c-bt { top: 17rem; font-size: 60px; line-height: 96px; }
}