/*SERVICES*/

#s-bt {
    top: 15rem;
    padding-left: 20%;
}

@media only screen and (min-width: 1441px) {
    #s-bt {
        top: 10rem;
    }
}

.services-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 6rem 0;
}

.services-text {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.services-text h2 {
    color: #CD071E;
    margin-bottom: 1rem;
}

.services-text h3 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.services-text, .services-img {
    width: 50%;
}

.services-img {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.services-img img {
    width: 544px;
    height: 544px;
}

#services section:nth-child(3), #services section:nth-child(5) {
    background-color: #e6e6e6;
    flex-direction: row-reverse;
}


@media only screen and (max-width: 1199px) {
    .services-img img {
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width: 991px) {   
    .services-block, #services section:nth-child(3), #services section:nth-child(5) {
        flex-direction: column;
   }

   .services-text, .services-img {
       width: 100%;
   }

   .services-text {
       padding: 0 10%;
       margin-bottom: 4rem;
   }

    .services-img img {
        width: 80%;
        height: 80%;
    }
}

@media only screen and (orientation: landscape) and (max-width: 991px) {
    #s-bt {
        top: 10rem;
        padding-left: 2%;
    }
}

@media only screen and (max-width: 576px) {
    #s-bt {
        top: 8rem;
        padding-left: 0%;
        padding: 0 5%;
    }

    .services-text {
        padding: 0 5%;
        margin-bottom: 4rem;
    }
 
     .services-img img {
         width: 90%;
         height: 90%;
     }
}