* {
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html { scroll-behavior: smooth; line-height:1.5; }
html, body { min-height: 100vh; position: relative; }
body { background-color: #f3f3f3; font-size: 8px; font-family: 'Montserrat', sans-serif; }
main { padding-bottom: 56px; }

@media only screen and (min-width: 1441px) {
    body { background-color: #d9d9d9; }

    main {
        max-width: 1441px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        position: relative;
    }

    #hp-bt { top: 6rem; }
}

@media only screen and (max-width: 576px) {
    main { padding-bottom: 88px; }
}

h1, .how-save, .who h2, .mission h2, .process h2, .ch-header h2  { font-weight: 700; font-size: 72px; line-height: 96px; }
h1, h2 { text-align: center; }
h2, .mission h3, .advantage-text h3, .process-text h3 { font-weight: 700; font-size: 48px; line-height: 72px; }
h3 { font-weight: 400; font-size: 32px; line-height: 48px; }
.h3-b { font-weight: 700; font-size: 32px; line-height: 48px; }
h4 { font-weight: 400; font-size: 24px; line-height: 48px; }
p { font-weight: 400; font-size: 16px; line-height: 32px; }
a, button { font-family: 'Montserrat', sans-serif; }

.bold, .bold-u { font-weight: 700; }
.bold-u { text-decoration: underline; }
.black { font-weight: 900; }
.underline { text-decoration: underline; }
.medium { font-size: 32px; line-height: 56px; }

.dark-red { color: #CD071E; }

.off-white { background-color: #f3f3f3; }

.how-save, .who h2, .mission h2, .process h2, .ch-header h2 { text-align: center; }


@media only screen and (max-width: 767px) {
    h1, .how-save, .who h2, .mission h2, .process h2, .ch-header h2  { font-size: 60px; line-height: 96px; }
    h2, .mission h3, .advantage-text h3, .process-text h3 { font-size: 40px; line-height: 72px; }

    .medium { font-size: 27px; line-height: 56px; }

    #topBtn { height: 48px; width: 48px; }
    #topBtn img { height: 24px; width: 24px; }
}

/*
light-red = #D9071F
dark-red = #CD071E

light-blue = #1B92CC
dark-blue = #0A5980

lightest-gray = #


/*HEADER*/

header {
    font-family: 'Montserrat', sans-serif;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.header-inner {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
}

@media only screen and (min-width: 1441px) {
    .header-inner { padding: 0; }
} 

.logo {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
}
.logo img { height: 80px; width: auto; }

#nav { display: flex; }
#nav ul { list-style: none; display: flex; }
#nav ul li { padding-right: 40px; }
#nav ul li:last-child { padding-right: 0px; }
#nav ul li a {
    text-decoration: none;
    color: #CD071E;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    cursor: pointer;
}
#nav ul li:hover { transform: scale(1.1); transition: .2s ease; }
#nav ul li a:hover { border-bottom: solid 4px #CD071E; transition: .2s ease; }

.header-images { display: flex; }
.header-images img { height: 24px; width: auto; padding-right: 15px; }
.header-images img:hover { cursor: pointer; transform: scale(1.1); transition: .2s ease-in-out; }

.btn-toggle-nav, aside { display: none; }
.btn-toggle-nav {
    margin: 0 auto;
    right: 0;
    cursor: pointer;
    position: absolute;
    width: 64px;
    height: 64px;
}
.btn-toggle-nav img { width: 64px; height: 64px; }

.nav-sidebar {
    right: 0;
    top: 64px;
    width: 200px;
    height: auto;
    z-index: 1000;
    background-color: #D9071F;
    position: absolute;
    visibility: hidden;
    transition: all .8s ease-in-out;
}

.nav-sidebar ul { overflow: hidden; }
.nav-sidebar ul li { list-style: none; }
.nav-sidebar ul li a {
    display: block;
    height: 64px;
    padding: 0 25px;
    color: #fff;
    letter-spacing: 1px;
    white-space: nowrap;
    opacity: 0;
    transition: all .8s ease-in-out;
    font-size: 21px;
    line-height: 64px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}


@media only screen and (max-width: 991px) {
    header { height: 64px; } 
    .header-inner { justify-content: space-between; }

    .logo {
        height: 48px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img { height: 48px; width: auto; }

    #nav { display: none; }

    .header-images img { display: none; }

    .btn-toggle-nav, aside { display: flex; }
}


/*FOOTER*/

footer {
    position: absolute;
	bottom: 0;
	max-width: 1440px;
    height: 56px;
    background-color: #888;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 3%;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left { display: flex; flex-direction: row; align-items: center; }
.footer-left img { width: auto; height: 24px; margin-right: 8px; }

footer p { font-size: 20px; line-height: 32px; }

.pp a {
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
    color: #000;
}

.footer-images { display: flex; align-items: center; }
.footer-images img { height: 24px; width: 24px; margin-right: 8px; }


@media only screen and (max-width: 576px) {
    footer {
        height: 88px;
        padding: .5rem 3%;
        flex-direction: column;
        align-items: flex-start;
    }

    .pp a { font-size: 16px; }

    .footer-images { display: none; }
}


/*BANNER*/

.banner { display: flex; flex-direction: column; }
.banner img {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 672px;
}
.banner-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #CD071E;
}

@media only screen and (max-width: 1199px) {
    .banner img { object-fit: cover; }
}

@media only screen and (max-width: 576px) {
    #hpb-img { filter: blur(3px); }
    
    .banner-text { height: 672px; }
}


/*TOP BUTTON*/

#topBtn {
    display: none;
    position: fixed; 
    right: 10%;
    bottom: 120px; 
    border-radius: 50%;
    background-color: #D9071F;
    height: 64px;
    width: 64px;
    cursor: pointer;
    z-index: 99;
}


/*ANIMATIONS*/

#homepage-h1, #homepage-h2-1, #homepage-h2-2 { animation: fade-in 2s ease-in-out both; }

.js-scroll { opacity: 0; transition: opacity 500ms; }
.js-scroll.scrolled { opacity: 1; }

.scrolled.fade-in { animation: fade-in 1s ease-in-out both; }
.scrolled.fade-in-bottom { animation: fade-in-bottom 1s ease-in-out both; }
.scrolled.fade-in-bottom2 { animation: fade-in-bottom2 1s ease-in-out both; }
.scrolled.fade-in-bottom3 { animation: fade-in-bottom3 1s ease-in-out both; }
.scrolled.slide-left { animation: slide-in-left 1s ease-in-out both; }
.scrolled.slide-right { animation: slide-in-right 1s ease-in-out both; }
.scrolled.turn { transform: rotate(1turn); transition: 1s; }

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }


/*ABOUT*/

#a-bt { top: 12rem; padding-left: 40%; }
@media only screen and (min-width: 1441px) { 
    #a-bt { top: 6rem; } 
}

.about-text-top, .about-text-bottom { 
    display: flex; flex-direction: column; 
    margin: 0 auto; justify-content: center; 
    padding: 6rem 10%; 
}
.about-text-top p { font-size: 32px; line-height: 64px; font-weight: 700; }
.about-text-bottom { background-color: #D9071F; color: #fff; }
.about-text-bottom p { font-size: 48px; line-height: 72px; text-align: center; font-weight: 700; }


@media only screen and (max-width: 1199px) {
        #a-bt { padding-left: 30%; } 
}
@media only screen and (max-width: 991px) {    
    #a-bt { padding-left: 0%; } 
}
@media only screen and (max-width: 767px) { 
    .about-text-top p { font-size: 24px; line-height: 48px; }
    .about-text-bottom p { font-size: 32px; line-height: 64px; } 
}
@media only screen and (max-width: 576px) { 
    #a-bt { top: 8rem; }
    .about-text-top, .about-text-bottom { padding: 6rem 5%; } 
}


/*SERVICES*/

#s-bt { top: 15rem; padding-left: 20%; }
@media only screen and (min-width: 1441px) { 
    #s-bt { top: 10rem; } 
}

.services-block { display: flex; flex-direction: row; align-items: center; margin: 0 auto; padding: 6rem 0; }

.services-text { display: flex; flex-direction: column; padding: 0 5%; }
.services-text h2 { color: #CD071E; margin-bottom: 1rem; text-align: left; }
.services-text h3 { font-size: 24px; line-height: 48px; font-weight: 700; margin-bottom: 2rem; }
.services-text, .services-img { width: 50%; }

.services-img { display: flex; margin: 0 auto; justify-content: center; }
.services-img img { width: 100%; max-width: 544px; height: auto; }

#services section:nth-child(3), #services section:nth-child(5) { background-color: #e6e6e6; flex-direction: row-reverse; }


@media only screen and (max-width: 1199px) { 
    .services-img img { width: 80%; height: 80%; } 
}
@media only screen and (max-width: 991px) {    
    .services-block, #services section:nth-child(3), #services section:nth-child(5) { flex-direction: column; }

    .services-text, .services-img { width: 100%; }
    .services-text { padding: 0 10%; margin-bottom: 4rem; }
    
    .services-img { padding: 0 10%; }
    .services-img img { width: 100%; max-width: 100%; } 
}
@media only screen and (orientation: landscape) and (max-width: 991px) { 
    #s-bt { top: 10rem; padding-left: 2%; } 
}
@media only screen and (max-width: 576px) { 
    #s-bt { top: 8rem; padding-left: 0%; padding: 0 5%; }
    
    .services-text { padding: 0 5%; margin-bottom: 4rem; }   
    .services-img { padding: 0 5%; }
}


/*FAQ*/

#f-bt { top: 12rem; width: 80%; padding-left: 45%; }
@media only screen and (min-width: 1441px) { 
    #f-bt { top: 8rem; width: 80%; padding-left: 45%; } 
}

.faq-top { background-color: #D9071F; color: #fff; padding: 2rem 12%; }
.faq-top p { font-size: 32px; line-height: 64px; font-weight: 700; text-align: center; }

.faq-cards { 
    display: flex; flex-direction: row; 
    margin: 0 auto; 
    padding-top: 2rem; padding-bottom: 12rem; 
    justify-content: space-around; 
}
.faq-card { width: calc(100% / 3); margin: 0 2%; }
.faq-card-header { 
    background-color: #d9d9d9; 
    display: flex; flex-direction: column; 
    margin: 0 auto; padding: 2rem; 
    justify-content: center; align-items: center; 
    border-top-left-radius: 20px; border-top-right-radius: 20px; 
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); 
}

.dr-small { font-size: 42px; line-height: 72px; }

#rb-fix { padding: 2rem 0rem; }

.faq-card-header h2 { text-align: center; }
.faq-card-header img { width: 106px; height: 80px; }

.faq-card-body { 
    background-color: #e6e6e6; 
    padding: 2rem 2rem; 
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; 
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); 
}
.faq-card-body ul li { 
    font-size: 24px; line-height: 32px; font-weight: 700; 
    list-style: none; 
    margin-bottom: 1rem; padding: 1rem; 
}
.faq-card-body ul a { color: #000; }
.faq-card-body ul li:hover { background-color: #D9071F; border-radius: 20px; color: #fff; }
#dark-red ul, #dark-red ul a { color: #CD071E; }
#small-ul-li ul li { font-size: 18px; line-height: 24px; }
#light-gray { background-color: #e6e6e6; padding-top: 7rem; }
#light-gray h3, #fq-middle p { color: #CD071E; }
#fq-middle { background-color: #f3f3f3; }
#fq-middle p { color: #CD071E; font-weight: 700; }

.faq-questions-body h2 { 
    font-size: 96px; font-weight: 700; line-height: 120px; 
    margin-bottom: 7rem; 
    text-shadow: 4px 4px 8px #ccc; 
    text-align: left;
}
.faq-questions-body { padding: 0 15%; padding-top: 7rem; padding-bottom: 5rem; }
.faq-questions { margin-bottom: 6rem; }
.faq-questions h3 { font-size: 48px; line-height: 72px; margin-bottom: 2rem; font-weight: 700; }
.faq-questions p { font-size: 24px; line-height: 48px; }

.blue-line { background-color: #0A5980; height: 1rem; }

@media only screen and (max-width: 1199px) { 
    #f-bt { width: 90%; padding-left: 40%; }

   .faq-card-header h2 { font-size: 32px;} 
}

@media only screen and (max-width: 991px) {    
    #f-bt { width: 90%; padding-left: 29.5%; }
    .faq-cards { flex-wrap: wrap; }
    .faq-card { width: 100%; margin: 0 15%; margin-bottom: 4rem; }
    .faq-card-body ul li { margin-bottom: 3rem; } 
}
@media only screen and (orientation: landscape) and (max-width: 991px) { 
    #f-bt { top: 8rem; width: 90%; padding-left: 3%; } 
}
@media only screen and (max-width: 767px) { 
    #f-bt { top: 8rem; width: 90%; padding-left: 28%; } 
}

@media only screen and (max-width: 576px) { #f-bt { top: 8rem; width: 100%; padding-left: 0%; }
    #f-bt h1 { text-align: center; }
    .faq-card { margin: 0 5%; margin-bottom: 2rem; }
    .faq-card-body ul li { margin-bottom: 1rem; }
    .faq-questions-body h2 { font-size: 72px; font-weight: 700; line-height: 96px; margin-bottom: 7rem; }
    .faq-questions-body h3 { font-size: 40px; line-height: 72px; } 
    .faq-questions-body { padding: 0 5%; padding-top: 7rem; padding-bottom: 5rem; } 
}


/*PRIVACY POLICY*/

#pp-container { padding: 0 12%; padding-bottom: 60px; background-color: #e6e6e6; }

.privacy-policy-header { padding-top: 3rem; margin-bottom: 7rem; }
.privacy-policy-header h1 { margin-bottom: 3rem; }
.privacy-policy-header p { font-size: 24px; line-height: 48px; font-weight: 700; }

.privacy-policy-content { margin-bottom: 4rem; display: flex; flex-direction: column; }
.privacy-policy-content h2 { margin-bottom: 2rem; text-align: left; }
.privacy-policy-content p, .privacy-policy-content ul li { font-size: 21px; line-height: 40px; margin-bottom: 1rem; }
.privacy-policy-content ul { margin-left: 5%; margin-bottom: 1rem; }

.pp-end { margin-bottom: 2rem; }


@media only screen and (max-width: 576px) {
     #pp-container { padding: 0 5%; padding-bottom: 60px; } 
}


/*THANK-YOU*/

#th-bt { top: 15rem; justify-content: center; }

@media only screen and (min-width: 1441px) { 
    #th-bt { top: 10rem; }
}

.thankyou-text { 
    margin: 7rem auto; 
    display: flex; flex-direction: column; 
    justify-content: center; 
    width: 70%;
}

.thankyou-text p { font-weight: 700; font-size: 48px; line-height: 72px; text-align: left; }
.thankyou-text p:last-child { margin-top: 3rem; color: #CD071E; }


@media only screen and (max-width: 576px) { 
    #th-bt { top: 3rem; }
    .thankyou-text { width: 90%; }
}


/*404*/

#four-bt { top: 18rem; padding-left: 40%; }
#four-bt h1 { color: #fff; }
 

@media only screen and (max-width: 991px) {    
    #four-bt { top: 12rem; padding-left: 40%; }
}
@media only screen and (max-width: 767px) { 
    #four-bt { top: 8rem; padding-left: 40%; }
}