* {
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html {
    scroll-behavior: smooth;
    line-height:1.5;
}

html, body {
    min-height: 100vh;
    position: relative;
}

body {
    background-color: #f3f3f3;
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding-bottom: 56px;
}

@media only screen and (min-width: 1441px) {
    body {
        background-color: #d9d9d9;
    }

    main {
        max-width: 1441px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        position: relative;
    }

    #hp-bt {
        top: 6rem;
    }
}

@media only screen and (max-width: 576px) {
    main {
        padding-bottom: 88px;
    }
}

h1, .how-save h2, .who h2, .mission h2, .process h2, .ch-header h2  {
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
}

h2, .mission h3, .advantage-text h3, .process-text h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

h3 { 
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.h3-b { 
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

h4 { 
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
}

p { 
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

#topBtn {
    display: none;
    position: fixed; 
    right: 10%;
    bottom: 120px; 
    border-radius: 50%;
    background-color: #D9071F;
    height: 64px;
    width: 64px;
    cursor: pointer;
    z-index: 99;
}

.bold, .bold-u {
    font-weight: 700;
}

.bold-u {
    text-decoration: underline;
}

.black {
    font-weight: 900;
}

.underline {
    text-decoration: underline;
}

.medium {
    font-size: 32px;
    line-height: 56px;
}

.dark-red {
    color: #CD071E;
}

.off-white {
    background-color: #f3f3f3;
}

/*
#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}*/

.how-save h2, .who h2, .mission h2, .process h2, .ch-header h2 {
    text-align: center;
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    h1, .how-save h2, .who h2, .mission h2, .process h2, .ch-header h2  {
        font-size: 64px;
        line-height: 96px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    h1, .how-save h2, .who h2, .mission h2, .process h2, .ch-header h2  {
        font-size: 60px;
        line-height: 96px;
    }

    h2, .mission h3, .advantage-text h3, .process-text h3 {
        font-size: 40px;
        line-height: 72px;
    }

    .medium {
        font-size: 27px;
        line-height: 56px;
    }

    #topBtn {
        height: 48px;
        width: 48px;
    }

    #topBtn img {
        height: 24px;
        width: 24px;
    }
}

/*
light-red = #D9071F
dark-red = #CD071E

light-blue = #1B92CC
dark-blue = #0A5980

lightest-gray = #


/*BANNER*/

.banner {
    display: flex;
    flex-direction: column;
}

.banner img {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 672px;
}

.banner-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #CD071E;
}

@media only screen and (max-width: 1199px) {
    .banner img {
        object-fit: cover;
    }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    #hpb-img {
        filter: blur(3px);
    }
    
    .banner-text {
        height: 672px;
    }
}


/*ANIMATIONS*/
.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}
   
.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }

#homepage-h1, #homepage-h2-1, #homepage-h2-2 {
    animation: fade-in 2s ease-in-out both;
  }
  
.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.fade-in-bottom2 {
    animation: fade-in-bottom2 1s ease-in-out both;
}

.scrolled.fade-in-bottom3 {
    animation: fade-in-bottom3 1s ease-in-out both;
}
  
  
.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}
  
.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

.scrolled.turn {
    transform: rotate(1turn);
    transition: 1s;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }