/*THANK-YOU*/

#th-bt {
    top: 15rem;
    justify-content: center;
}

@media only screen and (min-width: 1441px) {
    #th-bt {
        top: 10rem;
    }
}

.thankyou-text {
    margin: 7rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.thankyou-text p {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: left;
}

.thankyou-text p:last-child {
    margin-top: 3rem;
    color: #CD071E;
}

@media only screen and (max-width: 576px) {
    #th-bt {
       top: 3rem;
    }

    .thankyou-text {
        width: 90%;
    }
}


/*404*/

#four-bt {
    top: 18rem;
    padding-left: 40%;
}

#four-bt h1 {
    color: #fff;
}

@media only screen and (max-width: 991px) {   
    #four-bt {
        top: 12rem;
        padding-left: 40%;
    }
}

@media only screen and (max-width: 767px) {
    #four-bt {
        top: 8rem;
        padding-left: 40%;
    }
}